.wrapper {
  position: relative;
  overflow: scroll;

  .searchArea {
    padding: 20px;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: white;
    transition: top 0.3s linear;
  }

  .listArea {
    padding: 0 20px 5px;
  }
}